@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

*{
	margin:0px;
	padding:0px;
}

/* body:before{
	content:"";
	position:fixed;
	top:0;
	display:block;
	left:0;
	z-index:-1;
	width:100%;
	height:100%;
  	/*background:url(img/20200211225718.png) center repeat;
	background-size:cover;
} */

body{
	font-family:Quicksand;
	font-weight: 300;
}

.container{ 
	margin: 0 30px;
}

header{
	z-index: 1000;
	height:70px;
	width:100%;
	background-color: rgba(255,255,255,0.7);
	position:fixed;
}

.header-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo{
	flex: 300px;
	height: 70px;
}

header .logo img{
	height: 70px;
	width: auto;
}

.menu{
	display: flex;
	flex: 1.2;
	line-height: 70px;
}

.btn{
	justify-content: center;
	display: flex;
	flex: 1;
	padding: 0 15px;
	color:rgb(0, 0, 0,0.7);
	/* font-family: Chalkduster; */
}

.btn:hover{
	/* background-color:rgb(173, 225, 219,0.2); */
	color: #63bdb2;
	transition:all 0.3s;
}
a{
	text-decoration:none;
}
.space{
	padding:50px 0;
}
.main-logo{
	text-align:center;
	margin:65px 0 0 0;
}
.main{
	text-align: center;
}
.me{
	padding: 120px 0;
	font-family: 筑紫A丸ゴシック;
}

.dot{
	margin: 200px 0;
	font-size: 24px;
	color:#ACE1DB;
}

.title{
	font-size: 40px;
	color: rgb(0, 0, 0);
	opacity: 0.7;
	padding-bottom: 10px ;
	padding: 100px;
}

.sns-list{
	margin:30px 100px;
	color:#ffffffcc;
	display: flex;
	justify-content: space-around;
}

.sns{
	font-family: Chalkduster;
	color: #000000;
}

.sns-name{
	opacity: 0.7;
}
/* .twitter{
 	margin:50px 20px;
}
.twitter-timeline{
	background-color:#ACE1DB;
	border-radius:20px;
	/*margin:50px 50px;
} */

.gallery-items{
	display: flex;
	flex-wrap: wrap;
}

.item-box{
	flex: 1;
	margin: 50px 0;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.7);
	justify-content: center;
}

.item-txt{
	display: inline-flex;
	justify-content: center;
	font-family: ヒラギノ角ゴシック W0;
	font-size: 13px;
	padding-bottom: 50px;
}

.item-txt a{
	color: cadetblue;
}

.item-text a:hover{
	opacity: 0.7;
}

.copy-right{
	padding: 50px;
	text-align: center;
	color: rgb(147, 137, 150);
}

/*スマホ対応*/
@media
 screen and (max-width: 1024px){

	header{
		height: 40px;
		line-height: 40px;
	}

	.container{
		margin: 0 5px;
	}

	.menu{
		line-height: 40px;
	}

	header .logo{
		height: 40px;
	}

	header .logo img{
		height: 40px;
		width: auto;
	}

	.me{
		font-size: 10px;
		padding: 70px 0;
	}

	.space{
		padding: 30px;
	}

    .main-logo img{
		width: 80vw;
	}
	
	.item img{
		width: 70vw;
		height: auto;
	}

	.btn{
		font-size: 15px;
	}

	.title{
		font-size: 18px;
		padding: 80px 0;
	}

	.sns img{
		width: 25vw;
		height: auto;
		margin: 0 5px;
	}

	.sns-name{
		font-size: 12px;
	}

	p{
		font-size:  12px;
	}
	
	.item-box{
		margin: 0;
	}
}
